<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .title {
    color: #619cdf;
  }

  .subtitle {
    background-color: #619cdf;
    color: white;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

.title, .subtitle {
  margin-bottom: 1rem;
}

.description {
  padding: 0.5rem;
}

</style>

<body class="body">
  <h1 class="title">Projecto em Angular</h1>

  <h4 class="subtitle">Esse é meu primeiro projeto em Angular</h4>

  <p class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis
    luctus urna. Phasellus arcu augue, volutpat nec lectus eget, porta porta
    odio. Curabitur congue tincidunt sapien, sodales iaculis enim imperdiet
    quis. Phasellus orci arcu, iaculis ut tempus a, euismod eu nisl. Maecenas
    commodo nulla eget mauris rutrum, at varius mauris faucibus. Vivamus at
    mollis dui. Mauris gravida ex vel tellus blandit vestibulum. Maecenas
    tincidunt aliquet hendrerit. Quisque porta neque lacus, sed pellentesque
    orci blandit at. Aenean elementum ipsum iaculis ex scelerisque luctus. Donec
    molestie interdum consectetur. Quisque ac velit in augue blandit blandit vel
    et ligula. Maecenas ac pellentesque felis.
  </p>
  <p class="description">
    Nulla ultricies, augue at aliquam fringilla, mi diam pulvinar nisl, non
    ullamcorper justo neque egestas massa. Vivamus et orci nisi. Proin sit amet
    justo et erat facilisis fermentum. Vivamus efficitur nisi turpis, id luctus
    odio egestas id. Donec nec viverra urna. Duis sodales sed ligula at
    sollicitudin. Morbi ipsum odio, aliquet id erat in, mattis maximus eros. In
    et luctus mauris. Aliquam erat volutpat. Vivamus et gravida sapien. Ut
    fringilla gravida placerat. Morbi tincidunt, urna eget malesuada semper,
    arcu lacus ornare est, eget vestibulum tortor diam quis magna. Suspendisse
    potenti.
  </p>
</body>