footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgb(121, 208, 255);
    width: 100vw;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 5px;
}