h1 {
    padding-left: 1rem;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    border-radius: 10px;
    padding: 1rem ;
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
}

img {
    display: flex;
    margin: 0 auto;
}

.disponivel {
    color: #00dc93;
}

.nao-disponivel {
    color: #ff0000;
}

main {
    margin-bottom: 100px;
}