.content {
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 10px;
}

img {
    display: flex;
    align-self: center;
}

p {
    margin-block-start: 0;
}