header {
    background-color: rgb(54, 215, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    margin-left: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

li {
    cursor: pointer;
    font-size: 20px;
}